* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gradient-color: linear-gradient(to right bottom,  rgba(62, 39, 35,1.0), 
        rgba(93, 64, 55, 0.537));
}

html {
    font-size: 10px;
}


a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: #333;
    background-color: #8D6E63;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
}

.card-wrapper {
    padding: 10rem 6px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    transition: all .5s;
}


.card {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin: 10px;
box-shadow:  -1rem 2rem 2rem 1rem rgba(93, 64, 55,1.0);
}


.image-data {
    height: 25rem;
    position: relative;
    z-index:1;
    overflow: hidden;
}

.background-image .img {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: center no-repeat;
    background-size: cover;
    z-index: -1;
    transition: transform 5s;
}


.card:hover .background-image .img{
    transform: scale(1.5);
}


.publication-details {
    width: 100%;
    height: 100%;
    background: var(--gradient-color);
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

.publication-details i {
    margin-right: 1rem;
}

.author{
    display: inline-block;
    margin-bottom: .5rem;
    transition: all .5s .3s;
}

.author:hover {
    color: rgba(255,255,255,.75);
}

.date{
    display: block;
}

.post-data {
    background-color: #8D6E63;
    padding: 2rem 3rem;
    position: relative;
}

.title {
    font-size: 3rem;
    line-height: 1;
}


.subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0 1.5rem 0;
    color: #bcaaa4;
}

.description {
    position: relative;
    color: #fff;
}
.description::first-letter{
    margin-left: 1rem;
}

.description::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: 2rem;
    background: var(--gradient-color);
    border-radius: 2rem;
}

.cta {
    text-align: right;
    font-weight: bold;
    margin-top: 1rem;
}

.cta a {
        background: var(--gradient-color);
        -webkit-background-clip: text;
        color: transparent;
        position: relative;
}


.cta a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 100%;
    height: 3px;
    background: var(--gradient-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.cta a:hover::before {
    transform: scaleX(1);
}

@media screen and (min-width: 600px) {
    .card{
        flex-direction: row;
        max-width: 75rem;
    }

    .image-data{
        flex-basis: 40%;
        height: unset;
    }
    .publication-details{
        transform: translateX(-100%);
        transition: transform .5s;
    }

    .card:hover .publication-details{
        transform: translateX(0);
    }

    .author{
        transform: translateY(-3rem);
        opacity: 0;
        transition-delay: .3s;
    }

    .date{
        transform: translateY(3rem);
        opacity: 0;
        transition:all .5s .3s;
    }

    .card:hover .author,
    .card:hover .date{
        transform: translateY(0);
        opacity: 1;
    }

    .post-data {
        flex-basis: 60%;
    }

    .post-data::before {
        content: '';
        width: 3.5rem;
        height: 100%;
        background-color: #8D6E63;
        position: absolute;
        top: 0;
        left: -1.5rem;
        z-index: 10;
        transform: skewX(-5deg);
    }




















}









